.custom-container {
  width: 100%;
  min-height: 800px;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: visible;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.custom-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 383px;
  height: 128px;
  background-image: url("/img/textures/textura-5.webp");
  background-repeat: no-repeat;
  z-index: 1;
}
.custom-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 461px;
  height: 150px;
  background-image: url("/img/textures/textura-6.webp");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
@media (min-width: 769px) and (max-width: 1365px) {
  .custom-container {
    width: 100%;
    min-height: 50vh;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: visible;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .custom-container::before,
  .custom-container::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .custom-container::before,
  .custom-container::after {
    display: none;
  }
  .custom-container {
    height: auto;
    min-height: fit-content;
    margin-top: 115px;
  }
}
