.container {
    width: clamp(20.0625rem, 9.9245rem + 37.7228vw, 43.875rem);
    height: clamp(12.5rem, 7.1743rem + 22.723vw, 27.625rem);
    border-radius: 1.25rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Asegura que todo el contenido esté centrado horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.cover{
    width: 100%;
    
}



.customButtonNext,
.customButtonPrev {
    color: #ffffff !important;
    background-color: #4eb488 !important;
    border-radius: 50% !important;
    padding: 15px !important;
}


.customButtonNext {
    background-image: url("https://pub-98ff477fff7c4221ae13325d6258be3b.r2.dev/img/ico/next2.svg") !important;
    right: 7px !important;
}

.customButtonPrev {
    background-image: url("https://pub-98ff477fff7c4221ae13325d6258be3b.r2.dev/img/ico/prev2.svg") !important;
    left: 7px !important;
}

