.container {
    width: clamp(20.0625rem, 9.9245rem + 37.7228vw, 43.875rem);
    height: clamp(12.5rem, 7.1743rem + 22.723vw, 27.625rem);
    border-radius: 1.25rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Asegura que todo el contenido esté centrado horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.cover {
    object-fit: cover;
    width: 100%; /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantén la proporción de la imagen */
    display: block; /* Esto permite que la imagen se comporte como un bloque y centre con margin auto */
    margin: 0 auto; /* Centra horizontalmente la imagen */
}

.customButtonNext,
.customButtonPrev {
    color: #ffffff !important;
    background-color: #4eb488 !important;
    border-radius: 50% !important;
    padding: 15px !important;
}


.customButtonNext {
    background-image: url("/img/ico/next2.svg") !important;
    right: 7px !important;
}

.customButtonPrev {
    background-image: url("/img/ico/prev2.svg") !important;
    left: 7px !important;
}

