.whatsapp-button {
  width: clamp(2.1875rem, 1.1972rem + 4.2254vw, 5rem);
  height:  clamp(2.1875rem, 1.1972rem + 4.2254vw, 5rem);
  border-radius: 50%;
  background-color: #25D366;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

}



.whatsapp-button2{
  outline: none; 
  border: none; 
}



@media (max-width: 768px) {
  
 
  .iconsocialdev{
      width: 40.966px;
      height: 40.956px;
  }
 
}