.ContentNotice{
    background-color: rgb(173, 142, 142);
    display: flex;
    
    flex-direction: row;
    justify-content: center;
}

.generalcards{
    background-color: rgb(37, 202, 202);
    
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .ContentNotice {
      flex-direction: column;
    }
    .padrecards{
        
        width: 100%;
    }
  }

.padrecards{
    background-color: rgb(178, 130, 67);
    width: 50%;
}