.custom-container {
    padding: clamp(4.0625rem, 2.632rem + 6.1033vw, 8.125rem);
}

.fixedContactForm {
    position: absolute;
    right: calc((100vw - 1440px) / 2 + 50px);
    z-index: 20;
    transition: top 0.4s ease, position 0.4s ease;
}

.fixedContactForm.scrolled {
    position: fixed;
    top: 20px;
    right: calc((100vw - 1440px) / 2 + 50px);
    transition: top 0.4s ease, position 0.4s ease;
}

.contact {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.title {
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-size: clamp(0.875rem, 0.1832rem + 2.5743vw, 2.5rem);
    font-weight: 600;
    margin-top:clamp(0.625rem, -7.1875rem + 33.3333vw, 4.8125rem);
}

.title-span {
    font-family: "Inter", sans-serif;
    font-weight: 900 !important;
}

.custom-description {
    margin-top: clamp(1.3125rem, 1.073rem + 0.8911vw, 1.875rem);
    font-size: clamp(0.75rem, 0.5903rem + 0.5941vw, 1.125rem);
    text-align: justify;
}

.custom-card {
    margin-top: clamp(3rem, 2.6807rem + 1.1881vw, 3.75rem);
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.icon-size {
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-width: 120px;
    min-height: 150px;
    max-width: 150px;
    
    padding: 10px;
    box-sizing: border-box;
}

.icon-image {
    height: clamp(2.1875rem, 1.4425rem + 2.7723vw, 3.9375rem);
    max-width: 100%;
}

.icon-text {
    font-size: 16px;
    font-family: "Inter";
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 1280px) {
    .fixedContactForm {
        position: relative;
        top: auto;
        right: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}



@media (max-width: 576px) {
    .title {
        text-align: center;
    }

    .icon-size {
        min-width: 60px;
        min-height: 120px;
        max-width: 80px;
        padding: 5px;
    }

    .fixedContactForm {
        position: relative;
        top: auto;
        right: auto;
        display: flex;
        justify-content: center;
        margin-top: clamp(2.5rem, -2.1642rem + 19.9005vw, 5rem);
    }
    .custom-container {
        padding-top: 0;
        padding-bottom: 0;
    }
    
}


.icon-column-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    align-items: start;
}

.custom-card-pt2 {
    display: grid;
    grid-template-columns: auto 1fr 2px 1fr auto;
    align-items: start;
    gap: 20px;
    margin-top: clamp(3rem, 2.6807rem + 1.1881vw, 3.75rem);
    padding: 20px;
    max-width: 100%; /* Asegura que el contenedor no se desborde */

}

.title-column {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* max-width: 30px;  */
    overflow-wrap: break-word; /* Permite que el texto se ajuste al espacio */
}


.title-column-compartidas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* max-width: 30px;  */
    overflow-wrap: break-word; /* Permite que el texto se ajuste al espacio */
    margin-left: 30px;
}



.icon-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.divider {
    width: 2px;
    background-color: #1C284C;
    height: 90%;
    align-self: stretch;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    color: #1C284C;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 0.9em;
    line-height: 1.2;
    text-align: center;
    transform: rotate(180deg); /* Esto ajusta la orientación */

    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    line-height: 1.3; /* Ajusta el espaciado entre las letras */
    width: 100%;
}

.text-light {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
    color: #1C284C; /* Asegúrate de que el color sea el adecuado para que resalte */
}


/* Ajustes para pantallas medianas */
@media (max-width: 1280px) {
    .custom-card-pt2 {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px;
        text-align: center;
        max-width: auto;
        justify-content: center; /* Centra el contenido horizontalmente */
    }
    
    .title-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title-column-compartidas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0px;
    }
    
    .title-column .vertical-text {
        writing-mode: horizontal-tb;
        transform: none;
        text-orientation: initial;
        margin-bottom: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }

    .title-column-compartidas .vertical-text {
        writing-mode: horizontal-tb;
        transform: none;
        text-orientation: initial;
        margin-bottom: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }
    
    .divider {
        width: 100%;
        height: 2px;
        background-color: #1C284C;
        margin: 10px auto;
    }
    
    .icon-size {
        max-width: 300px;
        justify-content: center; /* Centra los iconos */
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .custom-card-pt2 {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
        text-align: center;
        justify-content: center; /* Centra el contenido horizontalmente */
    }
    
    .title-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0px;
    }

    .title-column-compartidas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .title-column .vertical-text {
        writing-mode: horizontal-tb;
        transform: none;
        text-orientation: initial;
        margin-bottom: 5px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }

    .title-column-compartidas .vertical-text {
        writing-mode: horizontal-tb;
        transform: none;
        text-orientation: initial;
        margin-bottom: 5px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }
    
    .divider {
        width: 100%;
        height: 2px;
        background-color: #1C284C;
        margin: 10px auto;
    }
    
    .icon-size {
        max-width: 300px;
        justify-content: center; /* Centra los iconos */
    }
}