
.customFooter {
  
  position: relative;
  font-family: "Inter";
  font-weight: 600;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
}
.customContent {
  height: 650px !important;
  display: flex;
  position: relative; 
  z-index: 30;
  padding: 45px 85px 0; 
}

.leftr{
  background-color: transparent;
}
.logomobile{
  width: 160px;
}
.anexadoone{
  
  margin-top: 60px;
  
}
.titlefooterisz{
  color: #CBF000;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.footernot{
  margin-top: -9px !important;
  margin-left: 4px;
}
.link2 {
 
  text-decoration: none;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height:4.5rex ;
}


.leftproject{
  
  width: 36%;
}
.textPrimary{
  color: var(--primary-color);
  
  
}
.textPrimarytiel{
  text-align: center;
  color: var(--primary-color);
  font-size: 18px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  
}
.textPrimary2{
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.textPrimarytitle{
  
  color: #FFF !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  
}
.lineh{
  line-height: 3.5rex !important;
}
.content_int{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.listafooter{
  display: flex;
  align-items: center;
}


.project{
  
  width: 500px;
  
}
.projectint{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
}
.ubicationfooter{
 
  width: 300px;
}
.contentlist{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.liststilo{
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.liststilo2{
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 15px;
  margin-bottom: 1.5rem;
}
.contentlisgeneral{
  margin-top: 25px;
}
.sede{
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1rex;
}


.contactButton {
  display: block;
  width: 12em;
  /* height: 2em; */
  background-color: var(--primary-color); 
  border-radius: 3.125em;
  color: var(--primary-text-color); 
  text-align: center;
  font-family: "Inter";
  font-size: 1em;
  font-weight: 800 !important; 
  line-height: 2em; 
  transition: all 0.3s ease;
  margin-top: 1.25rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactButton:hover {
  background-color: var(--secondary-hover-color); 
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.customLink {
  text-decoration: none;
  color: #fff; 
}

.link {
 
  text-decoration: none;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height:4.5rex ;
}


.link:hover {
  text-decoration: underline; 
}
.circle{
  font-size: 5px;
}
.ubication{
  font-size: 5px;
  margin-top: clamp(0.25rem, 0.118rem + 0.5634vw, 0.625rem);
}
.arrow{
  color: var(--primary-text-color);
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.mobilsocial{
  display: none;
 }
 .furia1{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
 }

 .fotterletralibro{
  width: 100%;
  display: flex;
  justify-content: center;
 }
 
 .contentsosialdescktop{
  width: 90%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

.iconfooterdesc{
  width: 34px;
}
.fatherfooter{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 768px) {
 
.furia1{
  width: 80% !important;
  margin-top: 30px;
 display: flex;
 justify-content: space-between !important;
}
.customFooter{
  
  width: 100% !important;
 

}
.customContent{
  
  margin: 0 !important;
  padding: 0 !important;
}

.leftr{

width: 200px;

}
.project{
  display: none;
}
.ubicationfooter{
  
  margin-top: 12px;
  width: 200px;

}

.logomobile{
  
  width: 120px;
  height: 35px;
  
}
.anexadoone{
  margin-top: 30px;
}
.titlefooterisz{
  font-size: 12px;
  font-weight: 700;
}
.link2{
  font-size: 10px !important;
  color: #FFF;
  font-family: Inter;

  font-style: normal;
  font-weight: 400;
  line-height: 3.5rex;
}
.mobilubi{
  font-size: 12px;
  font-weight: 700;
}
.sede{
  font-size: 12px;
  font-weight: 700;
}
.liststilo{
  
  font-size: 12px;
  font-weight: 700;
  line-height:2rex ;
}
.liststilo2{
  font-size: 10px;
  margin-bottom: 0.5rem;
}
.socialfooter{
  display: none;
}
.reclam{
  display: none;
}
.textreer{
  
  margin-top: -25px !important;
  font-size: 10px;
  margin-left: -15px;
}
.customContent{
  height: 320px !important;
}
.contentlisgeneral{
  margin-top: 0;
}
.mobilsocial{
  display: block;
}
.iconfooterdesc{
  width: 25px;
}
}

