.bodybanner{
  background-color:transparent;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  
}
.bannerinterent{

    background: #EFEADE;
    display: flex;
    border-radius: 50px 0px;
    flex-direction:row;
    height: 356px;
    align-items: center;
}
.img{
    margin-left: -70px;
    display: flex;
    display: block;
}

.fathertitle{
  
    
    height: 152px;
    margin-left: -50px;
    display: flex;
    flex-direction: column;
   
    
}
.image{
    width: 640px;
    height: 418px;
   
    margin-bottom: 60px;
}
.title{
    width: 300px;

    color: #1C284C;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.description{
    width: 294px;

    color: #1C284C;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.icons{
    background-color: #CBF000;
    margin-left: 50px;
    height: 100%;
    width: 353px;
    border-radius: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsint{
    background-color: transparent;
    width: 80%;
    text-align: center;
}
.iconr{
    display: flex;
    flex-direction: row;
    gap: 17px;
    justify-content: center;
}
.iconredes{
    background-color: #1C284C;
    width: 51.618px;
    height: 51.606px;
    flex-shrink: 0;
    fill: #1C284C;
}
.titleredesint{
    color: #1C284C;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.imgmobile{
    display: none;
}
@media (max-width: 1268px) {
    .bodybanner {
      flex-direction: column;
      height: auto;
    }
    .bannerinterent{
        display: flex;
        flex-direction:column;
        height: auto;
    }
   
  }
@media (max-width: 768px) {
    .bodybanner {
        margin-top: 25px;
       
        width: 100%;
      flex-direction: column;
      height: auto;
    }
    .bannerinterent{
        width: 83% !important;
        display: flex;
        flex-direction:column;
        margin-top: -60px;
        height: auto;
        overflow: hidden;
        border-radius: 20px 0px;
       
        
    }
    .fatherfather{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img{
        
        display: flex;
        justify-content: center;
        background-color: orange;
        display: none;
        overflow: hidden;
        
    }
    .imgmobile{
        display: block;
        
    }
    .image{
        width: 338px;
        height: 210px;

        
    }
    .fathertitle{
        
        position: relative;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    
    .icons{
        height: 140.416px;
        margin: 0;
        border-radius: 20px 0px;
        position: relative;
       

    }
    .iconredes{
        width: 32.415px;
        height: 32.405px;
    }
    .title{
        font-size: 23.035px;
        text-align: center;
    }
    .description{
        font-size: 10.798px;
        text-align: center;
    }
    .iconsint{
        
        width: 60%;
        height: 70%;
        text-align: center;
    }
    .titleredesint{
        font-size: 16.066px;
    }
    .iconr{
        
        gap: 8px;
        
    }
    .iconmobile{
        width: 32.406px;
        height: 32.398px;
    }
  }